    # Virtual environment
    venv/
    .venv/

    # Compiled Python files
    movies/__pycache__/
    __pycache__/
    *.pyc
    *.pyo

    # IDE-specific files
    .idea/
    .vscode/

    # Other common ignores
    .DS_Store